.img{
    width: 3rem;
}

.projects-section{
    margin: 150px 0;
    text-align: center;
}

.projects-hero{
    margin: 0 auto 100px auto;
    max-width: 767px;
}
.projects-hero h2{
   font-size: 50px;
}


.projects-hero p{
   font-size: 22px;
   margin: 10px 0 0 0;
}

.projects-grid {
    display: grid;
}